body{
    font-family: 'Roboto', sans-serif;
    background-color: #ede8ee;
}

/* navbar css starts here  */
.bg-light{
    background-color: #06dcf8!important;
}

.navbar-brand{
    font-family: 'Tony Stark', cursive;
    font-size: 1.5rem;
    color: #010811!important;
}

.nav-link{
    color: #5f6368!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #05e6f6;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(71, 121, 159)!important;
    color: rgb(58, 21, 65)!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(67, 83, 230)!important;
}